<!DOCTYPE html>
<html>
  <style>
    body {
      background-color: DARKSLATEGREY;
      background-image: url(https://fictionmachine.files.wordpress.com/2015/12/bttf3_08.jpg);
    }

    h1 {
      color: tomato;
      font-family: "Brush Script MT", cursive;
      font-size: 150px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 26.4px;
      text-align: center;
    }

    h2 {
      color: antiquewhite;
      font-family: "Impact", cursive;
      font-size: 75px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 26.4px;
      text-align: center;
    }

    form {
      text-align: center;
      vertical-align: baseline;
    }

    button[type=submit] {
      color: antiquewhite;
      font-family: "Brush Script MT", cursive;
      font-size: 30px;
      width: 15%;
      background-color: tomato;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>

	<body>
		<% if @result == nil %>
			<h1>Welcome <%= @player.name %></h1>
			<h2>Please select a weapon</h2>

			<form action= "/weapon" method='post'>
				  <button type="submit" name="weapon" value="Rock">Rock</button>
			</form>

			<form action= "/weapon" method='post'>
				  <button type="submit" name="weapon" value="Paper">Paper</button>
			</form>

			<form action= "/weapon" method='post'>
				  <button type="submit" name="weapon" value="Scissors">Scissors</button>
			</form>
		<% else %>
			<h1> <%= @result %> </h1><br>
			<form action= "/play_again" method='post'>
					<button type="submit">Play again</button>
			</form>
      <form action= "/" method='get'>
					<button type="submit">Logout</button>
			</form>
		<% end %>
	</body>
</html>
